body{
	background-color: #110026;
	height: 100%;
}

h1{
	color: #FDFDFB;
	height: inherit;
	font-size: 10vh;
	font-style: italic;
}

.options {
	text-align: center;
	color: #FDFDFB;
	font-size: 10vh;
	font-style:italic;
	font-weight:thin;	
	padding-top:2vh;
	margin-left:auto;
	margin-right:auto;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.options:hover{
	color: #FFDBDE;
}
